@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html, body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh !important;
}

svg {
  display: inherit !important;
}

.container {
  @apply m-auto max-w-screen-xl p-4
}

.nav-bg-custom{
  background-color: #FCB040;
  position: fixed;
  height: 88px;
  z-index: 99;
}

.main-home-content{
  /* padding-top: 70px; */
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.main-home-content-alt{
  padding-top: 5rem;
}

.main-content{
  padding-top: 85px;
}

.nav-text{
  font-size: 14px;
  color: white;
  font-family: 'Inter', sans-serif;
}

.banner-text-alt{
  font-size: 5rem !important;
}

.banner-text{
  padding-top: 120px;
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Newsreader', serif;
}

.banner-text-italic {
  /* font-size: 40px; */
  color: white;
  font-family: 'Newsreader', serif;
  font-style: italic;
}

.credential-header-alt{
  font-size: 30px;
  color: #989696 !important;
  border-bottom-style: none !important;
  font-family: 'Newsreader', serif;
}

.credential-header{
  font-size: 30px;
  color: black;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: #ca8f36;
  font-family: 'Newsreader', serif;
}

.dashboard-image-container-alt{
  height: 350px !important;
}

.contact-label{
  font-weight: 600;
}

.text-field-a{
  padding: 1rem;
  background: #23221fd1;
  border-radius: 0.5rem;
  height: auto !important;
  color: white;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.text-field-a:focus{
  outline: none !important;
}

.text-field-a:active{
  outline: none !important;
}

.contact-input{
  background: #23221fd1;
  padding: 1rem;
  color: white;
  /* font-size: 1.2rem; */
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.contact-input:focus{
  outline: none !important;
}

.contact-input:active{
  outline: none !important;
}

.contact-input::placeholder{
  color: white
}

.dashboard-image-container{
  background-image: url('./assets/dashboard_img.png');
  background-size: cover;
  background-position: center center;
  height: 750px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.main-container{
  position: relative;
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}

.banner-button-alt-1{
  margin-top: 15rem;
}

.banner-button-alt{
  margin-top: auto !important;
}

.banner-button-color{
  background-color: #426B1F !important;
}

.scribble-1-p{
  top: 3rem;
  left: 5rem;
  width: 5rem;
  height: 5rem;
}

.scribble-2-p{
  top: 20rem;
  left: 15rem;
  width: 7rem;
  height: 7rem;
}

.scribble-3-p{
  /* top: 20rem; */
  right: 0rem;
  bottom: 0rem;
  /* width: 7rem;
  height: 7rem; */
}

.page-div{
  background-color: #fff;
  width: 35%;
  /* height: 80%; */
  z-index: 999;
  border-radius: 1rem;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.social-handle-p{
  width: 3rem;
  height: 3rem;
}

.gradLine3{
  width: 50%;
  margin: 20px auto 0 auto;
  display: block;
  border: none;
  height: 5px;
  background: #0071B9;
  background: linear-gradient(to right, white, #ca8f35, #000, #ca8f35, white);
}

.page-ht{
  height: 100vh;
  background-color: #ca8f35;
}

.spinner-position-alt{
  margin: auto !important;
}

.spinner-position{
  margin: 10rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-payment-button{
  height: 45px;
  align-items: center;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 16px 21px;
  border-radius: 8px;
  background-color: #fcb040;
  overflow: hidden;
}

.banner-button {
  margin-top: 70px;
  width: 177px;
  height: 45px;
  justify-content: center; /* horizontally center */
  align-items: center;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 16px 21px;
  border-radius: 8px;
  background-color: #fcb040;
  overflow: hidden;
}

.red-label{
  color: red;
}

.header-colored-text-alt{
  font-size: 40px !important;
  text-align: left !important;
}

.header-colored-text-alt-2{
  text-align: left !important;
  /* margin-left: 9rem; */
}

.carrot-image{
  position: absolute;
  float: right;
}

.carrot-image-alt{
  margin: -5rem 5rem;
}

.width-30{
  width: 30rem;
}

.red-label{
  color: red;
}

.left-abs{
  left: -7.7rem;
}

.header-colored-text{
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  color: #FCB040;
  line-height: 51.5px; 
  font-family: 'Inter', sans-serif;
}

.banner-button-text {
  color: #fff;
  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  /* flex-direction: column; */
}

.essence-text{
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.variety-bg{
  background-image: url('./assets/variety_img.png');
  background-size: 100% 100% !important;
  height: 650px;
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; 
}

.variety-bg-alt{
  background-image: url('./assets/variety_img.png');
  background-size: 100% 100% !important;
  height: 750px;
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; 
}

.variety-text{
  padding-top: 50px;
  text-align: center;
  font-size: 98px;
  color: white;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
}

.variety-text-alt{
  text-align: center;
  font-size: 98px;
  color: white;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
}

.about-img-position-1{
  position: absolute;
  width: 25rem;
  right: 0;
  bottom: -20%;
}

.about-img-position-2{
  position: absolute;
  width: 15rem;
  right: 20%;
  bottom: -20%;
}

.about-img{
  width: 40rem;
}

.about-img-alt{
  width: 30rem;
  height: 25rem;
  border-radius: 1rem;
}

.variety-text-alt-1-b{
  font-size: 2rem !important;
}

.variety-text-alt-1-n{
  color: #FCB040 !important;
  font-size: 3.5rem !important;
  margin-bottom: 1rem;
  font-family: 'Inter', sans-serif !important;
}

.variety-text-alt-1{
  text-align: left;
  font-size: 98px;
  color: #000;
  font-weight: 800;
  line-height: 1;
  font-family: 'Newsreader', serif;
}

.quote-image{
  width: 3rem;
  height: 3rem;
}

.quote-text{
  margin-top: 1rem;
  font-size: 15px;
  color: #6D6D6D;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.recipe-sub-text{
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
  color: #426B1F;
  font-family: 'Inter', sans-serif;
}

.recipe-p-alt{
  width: 700px;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.recipe-p{
  margin-top: 1rem;
  font-size: 21px;
  font-weight: 200;
  color: #6D6D6D;
  font-family: 'Inter', sans-serif;
}

.hr-margin{
  margin-top: 1rem !important;
}

hr.default {
  border-top: 2px solid #FCB040;
  width: 100%;
  margin-top: 4rem !important;
  margin-bottom: 3rem;
}

hr.default-alt {
  border-top: 2px solid #FFF;
  width: 100%;
  margin-top: 2.5rem !important;
  margin-bottom: 3rem;
}

hr.default-alt-2 {
  /* background: #ffffff33; */

  border-top: 2px solid rgb(197 197 197);
  width: 100%;
  margin-bottom: 3rem;
}


.custom-width {
  width: fit-content;
}

.grid-item-height{
  height: 45rem;
}

.contact-width-image{
  width: 25rem;
  height: 30rem;
  border-radius: 1rem; 
}

.image-width-alt{
  width: 20rem;
  height: 40rem;
  border-radius: 1rem;
}

.image-width{
  width: 25rem;
}

.nav-text-alt{
  font-size: 16px !important;
}

.scrollable-div {
  height: 44rem;
  width: 92.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}

.scrollable-bar {
  width: 10px; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 0;
  transition: top 0.3s ease-in-out;
}

.item{
  flex-shrink: 0;
}

.wrap {
  width: 500%;
  min-height: 100%;
  overflow:hidden;
  position: absolute;
  top:0;left:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.gallery-text{
  margin-left: 5px;
  margin-top: 5px;
  text-align: left;
  width: 25rem;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}

.pseduo-track {
  background-color: #f1db9d;
  height: 2px;
  width: 100%;
  position: relative;
  top: -3px;
  z-index: -10;
}

@media (any-hover: none) {
  .pseduo-track {
    display: none;
  }
}

.scrollable-div::-webkit-scrollbar {
  width: 10px;
	background-color: #fff;
}

.scrollable-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #000 ;
	border-radius: 10px;
  width: 30rem !important;
	background-color: #000  ;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.scrollable-div::-webkit-scrollbar-thumb {
  border-radius: 20px;
	-webkit-box-shadow: inset 0 0 px #FCB040 ;
	background-color: #FCB040;
  padding-top: 20px
  /* -webkit-border-radius: 10px;
  border-radius: 10px;
  width: fit-content;
  background: url('./assets/thumb.png');
  -webkit-box-shadow: inset 0 0 6px #FFF; */
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background-color: #f1db9d;
}

.scrollable-div::-webkit-scrollbar:vertical {
  display: none;
}

#carousel {
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.slide-indicators {
  display: flex;
  justify-content: center;
}
.slide-indicator {
  height: 44px;
  width: 50px;
  display: flex;
  justify-items: center;
  cursor: pointer;
}
.slide-indicator:after {
  content: "";
  background-color: #878787;
  height: 10px;
  margin-top: 10px;
  width: 40px;
}

.slide-indicator.active:after,
.slide-indicator:hover:after {
  background-color: #000000;
}

.slide-banner {
  position: absolute;
  top: 20%;
  left: -50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

.slide-banner-alt {
  position: absolute;
  top: 30%;
  height: 3rem;
  width: 3rem;
  left: -58%;
  padding: 10px;
}

.slide-banner-alt-2 {
  position: absolute;
  top: 30%;
  height: 3rem;
  width: 3rem;
  left: -54%;
  padding: 10px;
}

.slide-banner-alt-3 {
  position: absolute;
  top: 30%;
  height: 3rem;
  width: 3rem;
  left: -50%;
  padding: 10px;
}

.slider-text{
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 90px;
  font-weight: 800;
}

.slide-banner a {
  color: #ffffff;
}
#slide-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.slide {
  scroll-snap-align: center;
  position: relative;
  min-width: 100%;
  padding-top: 50%;
}
.slide img {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.arrow {
  color: #ffffff; 
  margin-left: 1rem;
  width: 3rem;
  position: absolute;
  cursor: pointer;
}
.arrow.back {
  left: 10px;
  top: 50%;
}
.arrow.forward {
  right: 10px;
  top: 50%;
}
.arrow:hover {
  opacity: 1;
}

.cart-bag-position{
  position: absolute;
  right: 1rem;
}

.tooltip-position-alt{
  width: auto;
  background: #FCB040;
  padding: 0.3rem;
  position: absolute;
  bottom: 2.5rem;
  right: 0rem;
}

.tooltip-position{
  width: 3.7rem;
  background: #FCB040;
  padding: 0.3rem;
  position: absolute;
  bottom: 1.2rem;
  right: 0rem;
}

.user-icon{
  color: white;
  width: 2.5rem;
  height: 2.5rem;
}

.tooltip-text{
  font-size: 0.5rem;
  font-weight: 500;
  color: white;
}

.group:hover .invisible {
  /* Show the tooltip */
  visibility: visible;
}

/* For tooltip element */
.invisible {
  visibility: hidden;
}

.footer-color{
  background-color: #FCB040;
}

.credential-input-b{
  border-radius: 10px;
  height: 3rem;
  color: black;
  padding: 0px 1rem;
  background: #ca8f363b;
}

.credential-button-text{
  font-family: 'Newsreader', serif;
  font-size: 1.3rem;
  color: white
}

.social-text{
  font-family: 'Newsreader', serif;
  font-size: 1.3rem;
  color: black
}

hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  margin-top: 4rem;
}
hr.style-eight:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.table-bg{
  background: antiquewhite;
}

.forgotten-link{
  color: #ca8f35;
  font-weight: 600;
}

.credential-button{
  background: black;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 5px 0px #858585;
}

.credential-input-b::placeholder{
  color: rgb(99, 95, 95);
}

.foot-input-field{
  border-radius: 10px;
  width: 50%;
  height: 40px;
  padding: 0 1rem;
}

.zipcode-input-field{
  border-radius: 10px;
  width: 50%;
  height: 40px;
  padding: 0 1rem;
  background-color: #b6b6b6;
  outline: none;
}

.footer-button{
  background-color: #426B1F;
  width: 115px;
  height: 40px;
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  border-radius: 10px;
}

.footer-button-text{
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 800;
}

.a-z{
  display: inline-flex;
  padding: 0.6rem 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  border: 1px solid #C2C2C2;
  background: #FFF;
}

.a-z-alt:focus {
  outline: none !important;
}

.a-z-alt:hover{
  outline: none !important;
}

.a-z:focus{
  outline: none !important;
}

.a-z:hover{
  outline: none !important;
}

.cart-b:focus{
  outline: none !important;
}

.cart-b:hover{
  outline: none !important;
}

.a-z-position{
  justify-content: center;
  align-items: end;
}

.item-drop-icon {
  width: 25px;
  height: 15px;  
  margin-top: 6px;
  margin-left: 5px;
}

.item-bar {
  background: white;
  width: 12rem;
  padding: 1rem;
  height: 12rem;
  line-height: 2rem;
  box-shadow: 1px 2px 7px 0px #afafd46b;
  border-radius: 5px;
}

.item-card{
  width: 23rem;
  height: 25.875rem;
  flex-shrink: 0;
  border-radius: 1.5rem;
  border: 2px solid #E6E6E6;
  background: #FAFAF5;
  display: block;
  position: relative;
  margin-bottom: 4rem;
}

.item-card-top{
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; 
  background: white;
  height: 15.875rem;
  position: relative;
  border-radius: 1.5rem;
}

.item-card-img{
  width: 20rem;
}

.item-card-label{
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}

.item-card-price-alt{
  color: #426B1F !important;
}

.item-card-price{
  color: #FCB040;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}

.item-card-description{
  color: #6D6D6D;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.cart-count{
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  background: black;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.cart-count-text{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.cart-number{
  color: #426B1F;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cart-card{
  width: 51.3125rem;
  height: 9.9375rem;
  border-radius: 1.5rem;
  border: 2px solid #E6E6E6;
  background: rgba(250, 250, 245, 0.20);
  backdrop-filter: blur(2px);
}

.summary-card{
  width: 24.6875rem;
  /* height: 19.875rem; */
  border-radius: 1.5rem;
  border: 2px solid #E6E6E6;
  background: rgba(250, 250, 245, 0.20);
  backdrop-filter: blur(2px);
}

.summary-card-sub{
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.link-text{
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.link-position{
  margin-top: 2rem;
}

.mobile-nav-b{
  position: absolute;
  right: 1rem;
}

.mobile-nav-bg {
  background: #fcb040;
  height: 566px;
  border-radius: 0px 0px 40px 40px;
  top: 0;
  position: absolute;
  width: -webkit-fill-available;
}

.mb-button-outline{
  color: white;
  border: solid 2px;
}

.learn-display {
  display: inline-block;
}

.send-p{
  background-color: #fcb040;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  .header-colored-text-alt-2{
    margin-left: 2rem;
  }

  .cart-card{
    width: auto;
    height: auto;
  }

  .quote-image{
    width: 2rem;
    height: 2rem;
  }

  .summary-card{
    width: auto;
  }

  .a-z{
    width: 6rem;
    height: 3rem;
    padding: initial;  
  }

  .variety-text{
    font-size: 2.5rem;
  }

  .header-colored-text-alt-1{
    font-size: 2.5rem !important;
    line-height: 50px;
  }

  .recipe-sub-text{
    font-size: 1rem;
  }

  .recipe-p{
    font-size: 1rem;
  }

  .header-colored-text{
    line-height: 35.5px;
    font-size: 2rem;
    width: auto;
  }

  .gallery-text{
    width: auto;
  }

  .image-width-alt{
    width: auto;
  }

  .essence-text{
    font-size: 20px;
    line-height: 35px;
  }

  .variety-text-alt{
    font-size: 2.5rem;
  }

  .banner-text{
    font-size: 25px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

.custom-slider{
  width: 90%;
  margin: auto;
}
.custom-box{
  width: 200px;
  height: 100px;
  text-align:center;
  box-shadow: 2px 2px 3px gray;
  margin: 15px;
  font-size: 5em;
  padding: 50px;
}
.slick-prev, .slick-next{
  position: absolute;
  line-height: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #043e46;
}
.slick-slider{
  user-select: none;
}
.slick-next{
  right: -30px;
}
.slick-prev{
  left: -30px;
}
.slick-next:before{
  content: '\003e';
  font-size: 1.2em;
  font-weight: 1000;
  padding-left: 12px;
  color: white;
}
.slick-prev:before{
  content: '\003c';
  font-size: 1.2em;
  font-weight: 1000;
  padding-left: 9px;
  color: white;
}